<div class="container mt-3 d-flex justify-content-end">
  <%= link_to "Add new chat", new_chat_path, class: 'btn-home' %>
</div>

<div class="bg-new mt-1">
  <div class="container text-below-banner py-4">
    <div class="row">
      <% @chats.each do |chat| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <div class="card h-100 shadow-sm">
            <div class="card-body list-chats d-flex align-items-center justify-content-center">
              <%= link_to chat.game.name, chat_path(chat), class: "chat-card-text fw-bold text-decoration-none text-center w-100 stretched-link" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
