
<div class="container">
  <div class="text-center m-5">
    <h1>Gamer's Oracle</h1>
    <h3>The biggest game Guru that you will see</h3>
    <%= link_to "Log In NOW", new_user_session_path, class: "btn btn-primary mt-3" %>
    <%= link_to "Register NOW", new_user_registration_path, class: "btn btn-primary mt-3" %>
  </div>
</div>
