<div class="home-banner">
  <div class="banner-content">
    <h1>Gamer's Oracle</h1>
    <p class="lead">AI-POWERED GUIDES FOR EVERY GAME</p>
    <hr>
    <div class="home-actions mt-4 d-flex gap-3">
      <%= link_to "Sign In", new_user_session_path, class: "btn-home w-50" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-home w-50" %>
    </div>
  </div>
</div>
