<div class="home-banner">
  <div class="banner-content">
    <h1>Gamer's Oracle</h1>
    <p class="lead">AI-POWERED GUIDES FOR EVERY GAME</p>
    <hr>
    <%= link_to "START", new_user_registration_path, class: "btn-home" %>
  </div>
</div>
