<div class="container mt-3 d-flex justify-content-end">
  <%= link_to "Add new game", new_game_path, class: 'btn-brown' %>
</div>

<div class="bg-new mt-1">
  <div class="container text-below-banner py-4">
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <%= link_to game_path(game), class: "text-decoration-none text-dark" do %>
            <div class="game-card-index card h-100 shadow-sm text-center">
              <%= cl_image_tag game.image.key, width: 300, height: 200, crop: :fill, class: "card-img-top" %>
              <div class="card-body d-flex align-items-center justify-content-center">
                <span class="text-black chat-card-text fw-bold d-block mt-2a"><%= game.name %></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
