.bg {
  background-image: url('home-background.jpg');
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 100vh;

  min-width: 100%;
  min-height: 100%; 
}

.bg-home {
  background-image: url('home-background.jpg');
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 92vh;
  overflow: hidden;
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.home-banner.align-items-center {
  padding-top: 60px;
}

.banner-content {
  background-color: rgba(10, 20, 35, 0.9);
  padding: 40px 60px;
  border-radius: 10px;
  border: 1px solid rgba(0, 225, 255, 1);
  box-shadow: inset 0 0 10px rgba(0, 225, 255, 0.7),
    0 0 25px rgba(0, 225, 255, 0.6),
    0 0 8px rgba(0, 225, 255, 0.8);
  
}

.banner-content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.btn-home {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 225, 255, 0.817);
  box-shadow: inset 0 0 10px rgba(0, 225, 255, 0.7),
    0 0 25px rgba(0, 225, 255, 0.6),
    0 0 8px rgba(0, 225, 255, 0.8);

  &:hover {
  color: rgb(191, 191, 191);
  border: 1px solid rgba(0, 225, 255, 0.517);
  box-shadow: inset 0 0 10px rgba(25, 157, 175, 0.7),
    0 0 25px rgba(80, 155, 165, 0.6),
    0 0 8px rgba(62, 131, 141, 0.8);
  }
}
