#banner_show {
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#banner_show h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 30px;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}
