.btn-brown {
  text-decoration: none;
  background-color: #715A5A;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-brown:hover {
  color: #D3DAD9;
  opacity: 85%;
}
