.navbar-lewagon {
  background: #000;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar.navbar-lewagon .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  background-color: #0e111d;
  border-bottom: 3px solid #1c1e2a;
}

.nav-link {
  color: #D3DAD9;
}

.nav-link:hover {
  color: #44444E;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  text-decoration: underline;
}

#drop {
  background-color: #000000;
  border-radius: 4px;
}

#drop .dropdown-item {
  color:white;
}

#drop .dropdown-item:hover{
  color: #000;
}
